<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963191656845-f1nnll91ana87esjqr11fgnmgj9bml68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963191656845-f1nnll91ana87esjqr11fgnmgj9bml68</string>
	<key>API_KEY</key>
	<string>AIzaSyBhhzNTnkuUzYYmrP9q_aNrB-DuaVfXXNI</string>
	<key>GCM_SENDER_ID</key>
	<string>963191656845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neha.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>crypkey-24682</string>
	<key>STORAGE_BUCKET</key>
	<string>crypkey-24682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963191656845:ios:74d568888a13b02fd0edc4</string>
	<key>DATABASE_URL</key>
	<string>https://crypkey-24682.firebaseio.com</string>
</dict>
</plist>